@inherits LayoutComponentBase

<div class="page">
    <main id="main-content" role="main" aria-label="Main content">
        <article>
            @Body
        </article>
    </main>

    <Footer />
</div>