<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ChapelHillDotNet</a>
        <button class="navbar-toggler"
                @onclick="ToggleNavMenu"
                type="button"
                aria-label="Toggle navigation menu"
                aria-expanded="@(_collapseNavMenu ? "false" : "true")"
                aria-controls="main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" id="main-navigation">
    <nav class="nav flex-column" aria-label="Main navigation">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> Events
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-info-circle" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-4 border-t border-secondary">
            <NavLink class="nav-link" href="admin/events">
                <span class="bi bi-gear" aria-hidden="true"></span> Admin
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "nav-scrollable collapse" : "nav-scrollable";

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}

